* {
  padding: 0;
  margin: 0;
}
#picture {
  text-align: center;
  height: 3%;
  padding-right: 20px;
}
.image {
  background-image: url(https://images.unsplash.com/photo-1526392587392-d1627b6c134a?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JlZW4lMjBncmFzc3xlbnwwfHwwfHx8MA%3D%3D);
  padding-bottom: 2%;
}
.heading {
  text-align: center;
}
#heading-head {
  font-size: 38px;
}
#heading-headi {
  font-size: 32px;
}
.popup-title {
  font-size: 20px;
  padding: 5px;
  background-color: #00008b;
  color: white;
  padding-left: 30px;
  margin-top: 10px;
  display: flex;
}
.popup {
  padding-left: 10px;
  padding: 10px;
  display: flex;
}
.popup p {
  font-size: medium;
}
.popup-first,
.popup-second,
.popup-third,
.popup-four,
.popup-five,
.popup-six {
  margin-left: 70px;
}
.popup-first:hover {
  text-decoration: underline;
  cursor: pointer;
}
.popup-second:hover {
  text-decoration: underline;
  cursor: pointer;
}
.popup-third:hover {
  text-decoration: underline;
  cursor: pointer;
}
.popup-four:hover {
  text-decoration: underline;
  cursor: pointer;
}
.popup-five:hover {
  text-decoration: underline;
  cursor: pointer;
}
.popup-six:hover {
  text-decoration: underline;
  cursor: pointer;
}
.popup-seven:hover {
  text-decoration: underline;
  cursor: pointer;
}
.popupfirst:hover {
  text-decoration: underline;
  cursor: pointer;
}
.popupsecond:hover {
  text-decoration: underline;
  cursor: pointer;
}
.popupthird:hover {
  text-decoration: underline;
  cursor: pointer;
}
.popupfour:hover {
  text-decoration: underline;
  cursor: pointer;
}
.popup-ive:hover {
  text-decoration: underline;
  cursor: pointer;
}
.popup-sx:hover {
  text-decoration: underline;
  cursor: pointer;
}
.popup-seen:hover {
  text-decoration: underline;
  cursor: pointer;
}
.list {
  padding: 10px;
  text-align: center;
}
.list__table__heading {
  padding: 15px;
}
th,
td {
  padding: 10px;
}
.search {
  padding: 10px;
}
.search input {
  padding: 5px;
  display: block;
  border: none;
  border-bottom: 1px solid black;
}
.search button {
  padding: 5px;
  color: white;
  background-color: #00008b;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 50px;
}

.search input:focus {
  outline: none;
}

.list {
  padding: 10px;
}

.side-navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: -60%;
  margin-top: 10px;
  background-color: #00008b;
  color: white;
  padding: 15px;
  width: 200px;
}

.side-navbar p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sidenav {
  position: sticky;
  display: inline;
  top: 0;
  z-index: 10;
}

.bank {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 300px;
  margin: 30px;
}

.content {
  padding-top: 20px;
}

.actual-content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-left: 10px;
  background-color: black;
  color: white;
  border-radius: 20px;
}

.actual-content h1 {
  font-size: 30px;
}

.content-divide {
  display: block;
}

.content-divide p {
  font-weight: 800;
  font-size: 25px;
}

@media screen and (max-width: 600px) {
  .popup {
    display: none;
  }

  .menubar {
    display: flex;
    text-align: right;
  }

  * {
    font-size: 10px;
  }

  h1 {
    font-size: 15px;
  }

  #heading-headi {
    font-size: 15px;
  }

  #heading-head {
    font-size: 17px;
  }

  .side-popup p {
    font-size: 10px;
  }

  .e {
    font-size: 10px !important;
  }

  * {
    font-size: 13px !important;
  }

  .collector-details h2,
  .collector-details h3 {
    font-size: 20px !important;
  }

  .actual-content h1 {
    display: inline;
  }

  .h1 {
    font-size: 25px !important;
    color: #fffafae0;
  }

  .b {
    color: red;
    font-weight: 800;
    font-size: 30px;
  }
}

@media screen and (min-width: 600px) {
  .popup {
    display: flex;
  }

  .menubar {
    display: none;
  }
}
